.about_banner {
  background-image: url("../../assets/aboutBanner.svg");
  background-size: cover;
  background-position: center;
  height: 223px;
  margin: 50px 100px;
  border-radius: 10px;
}

@media (max-width: 760px) {

  .about_banner {
    margin: 1rem;
    height: 110px;
  }

  .about_banner_content_p {
    font-size: 1.5rem;
  }
}