.gallery {
    border-radius: 10px;
    margin: 50px 100px;
    background-color: #f6f6f6;
}

.gallery_container {
    padding: 56px 50px;
}

@media (max-width: 760px) {
    .gallery {
        margin: 1rem;
    }

    .gallery_container {
        background-color: white;
        padding: 0;
    }
}