* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header {
    margin: 45px 100px 50px 100px;
    display: flex;
    justify-content: space-between;

    &>nav {
        display: flex;
        align-items: center;
        gap: 57px;

        &>a {
            text-decoration: none;
            color: black;
            font-weight: 500;
            font-size: 24px;
        }
    }

}

.banner::before {
    content: "";
    background-image: url('./assets/IMG.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
    position: absolute;
    z-index: 0;
}

.banner {
    position: relative;
    margin: 0 100px;
    height: 223px;
    border-radius: 10px;
    overflow: hidden;

    &_content {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_p {
            font-weight: 700;
            font-size: 48px;
            color: white;
        }
    }
}

.gallery {
    border-radius: 10px;
    margin: 50px 100px;
    background-color: #f6f6f6;

    &_container {
        padding: 56px 50px;
    }
}

.card {
    box-sizing: border-box;
    background: rgba(255, 96, 96, 1);
    border-radius: 10px;

    &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;

        &_cover {
            width: 100%;
            height: 80%;
            border-radius: 10px 10px 0 0;

            &_title {
                color: white;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                padding: 2rem 2rem;
            }
        }
    }
}

.footer {
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;

    &>p {
        color: white;
        font-weight: 500;
        font-size: 24px;
    }
}

.about_banner {
    background-image: url('./assets/aboutBanner.svg');
    background-size: cover;
    background-position: center;
    height: 223px;
    margin: 50px 100px;
    border-radius: 10px;
}

.InfoContainer {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


.Info {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    margin: 20px;

    &_title {
        width: 100%;
        background-color: rgba(255, 96, 96, 1);
        color: #f6f6f6;
        padding: 10px;
        border-radius: 2.5px;
        font-weight: bold;

        &_p {
            background-color: #f6f6f6;
            padding: 10px;
            width: 100%;
        }
    }
}

.fa-solid {
    color: white;
}

// @media (max-width:)